<div class="container">

  <form class="form mat-elevation-z8" >

    <h1> LOGIN </h1>

    <img src="assets/img/login-image.svg" alt="login">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
      [formControl]="email"
      required="*"
      [(ngModel)]="creds.email" name="email" matInput placeholder="Ex. seunome@servidor.com">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input
      [formControl]="senha"
      required="*"
      [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="*******">
    </mat-form-field>

    <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-raised-button color="primary">Login</button>
  </form>

</div>

